@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <img src="~/images/star1.png" />
    
    <p><i class="fa fa-smile-o"></i>
        Thank you for confirming your email. Now you can login into system.
    </p>
</div>
